$heading: "Raleway";
$body: "Open Sans";
$bodySize: 14px;
$regLH: 150%;
$light: 300;
$reg: 400;
$bold: 700;
// Primary Colors
// Intro & suscribe
$darkBlue1: hsl(217, 28%, 15%);
// Main BG
$darkBlue2: hsl(218, 28%, 13%);
// Footer BG
$darkBlue3: hsl(216, 53%, 9%);
// Testimonials BG
$darkBlue4: hsl(219, 30%, 18%);

// Accent Colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);

// Neutral Colors
$white: hsl(0, 0%, 100%);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
