@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $darkBlue2;
  color: $white;
  font-family: $body, sans-serif;
  font-weight: $reg;

  section {
    padding: 3rem 1.5rem;
  }

  img {
    max-width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading, sans-serif;
    font-weight: $bold;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 28px;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      li {
        a {
          font-weight: $light;
          font-size: $bodySize;
        }
      }
    }
  }

  .App {
    max-width: 1440px;
    margin: auto;
  }

  .blueBtn {
    max-width: 220px;
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    background: linear-gradient(to right, $cyan, $blue);
    color: $white;
    font-weight: $bold;
    font-size: $bodySize;
    border-radius: 2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  #landing {
    padding-top: 6rem;
    text-align: center;

    .flex-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      p {
        font-weight: $light;
        font-size: $bodySize;
        line-height: 150%;
      }

      .blueBtn {
        margin-top: 1rem;
      }
    }
    img {
      max-width: 100%;
    }

    h1 {
      line-height: 150%;
    }
  }
}
