@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $darkBlue2;
  color: $white;
  font-family: $body, sans-serif;
  font-weight: $reg;

  section {
    padding: 6rem 1.5rem 3rem;
  }

  img {
    max-width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading, sans-serif;
    font-weight: $bold;
  }

  h2 {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  a,
  button {
    cursor: pointer;
  }

  ul {
    list-style: none;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 28px;
    }

    ul {
      display: flex;
      gap: 1.5rem;

      li {
        a {
          font-weight: $light;
          font-size: $bodySize;
        }
      }
    }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .App {
    max-width: 1440px;
    margin: auto;
  }

  .blueBtn {
    max-width: 220px;
    width: 100%;
    padding: 0.75rem 0;
    text-align: center;
    background: linear-gradient(to right, $cyan, $blue);
    color: $white;
    font-weight: $bold;
    font-size: $bodySize;
    border-radius: 2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }

  // Section Landing
  #landing {
    text-align: center;

    .flex-col {
      gap: 1rem;

      p {
        font-weight: $light;
        font-size: $bodySize;
        line-height: $regLH;
      }

      .blueBtn {
        margin-top: 1rem;
      }
    }
    img {
      max-width: 100%;
    }

    h1 {
      line-height: $regLH;
    }
  }

  // Section Features
  #features {
    .flex-split {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      text-align: center;
      @media (min-width: $lg) {
        flex-direction: row;
        gap: 1rem;
      }
    }
    .feat {
      max-width: 320px;
      width: 100%;

      line-height: $regLH;
      gap: 1rem;

      p {
        font-size: $bodySize;
      }
    }
  }

  // Section CTA
  #cta {
    .flex-col {
      gap: 1rem;
    }
    p {
      font-size: $bodySize;
    }

    .ctaBtn {
      padding-bottom: 0.25rem;
      align-self: flex-start;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $bodySize;
      color: $cyan;
      border-bottom: 1px solid $cyan;

      span {
        margin-top: 4px;
        padding: 0 0.5rem;
      }
    }
  }

  // Section Testimonials
  #testimonials {
    .flex-col {
      gap: 2rem;
    }
    .testimonial {
      padding: 1.5rem;
      background-color: $darkBlue4;
      border-radius: 4px;

      p {
        font-size: 12px;
        line-height: $regLH;
      }

      .author {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        .image {
          flex: 0.25;
          img {
            border-radius: 50%;
          }
        }
        .info {
          padding-left: 0.5rem;

          h3 {
            font-size: 1rem;
          }
          p {
            padding-top: 2px;
            font-size: 10px;
          }
        }
      }
    }
  }

  // Section Suscribe
  #suscribe {
    position: relative;

    .darkBlueBG {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 45%;
      background-color: $darkBlue3;
    }

    .flex-col {
      padding: 3rem 1rem;
      background-color: $darkBlue1;
      gap: 1rem;
      border-radius: 12px;
    }

    p {
      text-align: center;
      font-size: $bodySize;
      line-height: $regLH;
    }

    form {
      width: 100%;
      padding: 1rem 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      input {
        width: 100%;
        padding: 1rem;
        border-radius: 2rem;
      }

      button {
        outline: none;
        border: none;
      }
    }
  }

  footer {
    padding: 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: $bodySize;
    background-color: $darkBlue3;

    .iconCont {
      display: flex;
      gap: 1rem;
      span {
        svg {
          height: 22px;
          width: auto;
        }
      }
    }

    .company {
      align-items: flex-start;
      gap: 1rem;
      .iconCont {
        margin-top: 1rem;
      }
    }

    .contact {
      align-items: flex-start;
      gap: 1rem;
    }

    .footerNav {
      padding: 3rem 0;
      align-items: flex-start;
      gap: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      a {
        padding: 8px 8px 4px;
        border: 1px solid $white;
        border-radius: 50%;
        svg {
          height: 16px;
          width: auto;
        }
      }
    }
  }
  //End Body
}
